{% load staticfiles %}
{% load embed_video_tags %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ user.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'userprofile/style.css' %}" />
</head>
<body>


	<nav role="navigation" class="navbar navbar-default">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a href="#" class="navbar-brand">VLala</a>
	    </div>
	    <!-- Collection of nav links and other content for toggling -->
	    <div id="navbarCollapse" class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="#">Profile</a></li>
	            <li><a href="#">Shop</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right">
	            <li><a href="#">Login</a></li>
	        </ul>
	    </div>
	</nav>

<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h2>{{ post.post_title }}</h3>
			<p>By <a href="{% url 'userprofile:profile' post.pub_user.id %}">{{ post.pub_user.name }}</a><br>
			Published on: {{post.pub_date}}</p>
			<p>{% video post.post_video 'medium' %}</p>
			<p>{{post.post_text}}</p>
		</div>
		<div class="col-md-4">
			<h3 align="center">Products in video</p>
				{% for product in post.products.all %}
				
				<img class="responsive" src="{{ product.product_image.url }}" height="80px" alt="Product image" />
				<p style="font-size:10pt"><a href="{{product.product_buy_url}}">{{product.product_name}}</a><br>
					by {{product.product_brand}}</p>
				</p>
				<br>
				{% endfor %}
		</div>
	</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2> Comments</h2>


		        <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//alisayap.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

       </div>


		<div class="col-md-4">
		</div>
</div>

</div>
</body>
</html>